<section style="background-image: url('{{ .Params.about.image2 }}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-8 col-12">
                <h2>{{ .Params.about.heading }}</h2>
                <p>{{ .Params.about.resume }}</p>
                <div>{{ .Params.about.text }}</div>
                <a href="" class="btn btn-primary">
                    <span class="btn-area">
                      <span data-text="Join Us">
                        Read More
                      </span>
                    </span>
                  </a>
            </div>
        </div>
    </div>
</section>