
  {{ "<!-- Site Hero Start -->" | safeHTML }}
  
  <section class="site-hero" style="background-image: url('{{.Params.intro.image1}}'); background-repeat: no-repeat; background-size: cover; background-attachment: fixed;">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-8 col-12">
          <div class="site-hero-content">
            <h1 class="text-white mb-5 text-uppercase" style="font-family: 'Montserrat';">
              {{ .Params.intro.heading }}
            </h1>
            <hr class="border-white">
            <h4 class="text-white">
              <i class="fa fa-quote-right mr-2 text-danger"></i>
              {{.Params.intro.tagline}}</h4>
            <ul class="site-hero-content-buttons mt-5">
              
              <li>
                <a href="" class="btn btn-primary">
                  <span class="btn-area">
                    <span data-text="JOIN US">
                      JOIN THE COMMUNITY
                    </span>
                  </span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <a href="#counter" class="site-hero-scroll scroll-to">
      <img src="{{ "images/arrow-down.svg" | absURL }}" alt="arrow-down">
    </a>
  </section>
  {{ "<!-- Site Hero End -->" | safeHTML }}

